# Bonus Analysis

In [5]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
#import psycopg2
from sqlalchemy import create_engine

##Connect to the postgres database

from secret import password

ModuleNotFoundError: No module named 'secret'

In [ ]:
#Create an engine that talks to the postgres database
database_url = f'postgresql://postgres:{password}@localhost:5432/sql-challenge'
engine = create_engine(database_url)

In [ ]:
# Establish Connection to the postgresql database
conn = engine.connect()

In [ ]:
# Reading the "Salaries" table into pandas
salaries = pd.read_sql("SELECT * FROM \"salaries\"", conn)
salaries.head()

#	emp_no 	salary
#0 	10001 	$60,117.00
#1 	10002 	$65,828.00
#2 	10003 	$40,006.00
#3 	10004 	$40,054.00
#4 	10005 	$78,228.00

In [ ]:
# Check data types and found that SQL "money" does not translate well into pandas
salaries.dtypes

#emp_no     int64
#salary    object
#dtype: object

In [ ]:
# Convert data type for salary from Object to Float
salaries["salary"] = salaries["salary"].replace("\$|","", regex=True).replace(",","",regex=True).astype(float)

In [ ]:
# Check to confirm
salaries.dtypes

#emp_no      int64
#salary    float64
#dtype: object

In [4]:
#Create a histogram to visualise the most common salary ranges for employees
#Plot histogram 
histogram = salaries["salary"]
chart1 = histogram.plot.hist()
chart1.set_title("Frequency of Salary Ranges for Employees")
chart1.set_xlabel("Salary $")
plt.show()

#Approximately half the employees earn $40k? Looks suspicious..
#Create a bar chart of average salary by title

NameError: name 'salaries' is not defined

In [ ]:
# Reading the "employees" table into pandas
employees = pd.read_sql("SELECT * FROM \"employees\"", conn)
employees.head()

In [ ]:

# Reading the "titles" table into pandas
titles = pd.read_sql("SELECT * FROM \"titles\"", conn)
titles.head()

In [ ]:
# Merge 3 tables (salaries, employees and title) to get salary by title
emp_w_salary = employees.merge(salaries, on="emp_no")
merged = emp_w_salary.merge(titles, left_on="emp_title_id", right_on="title_id")

In [ ]:
# Plot bar chart to show average salary by title

In [ ]:
bar = merged[["title","salary"]].groupby("title").mean()
bar = bar.sort_values(by="salary", ascending=True)
chart2 = bar.plot.barh(legend=False)
chart2.set_title("Average Salary by Title")
chart2.set_xlabel("Salary $")
chart2.set_ylabel("Title")
plt.show()

In [ ]:
merged[merged["emp_no"]==499942]